{{- "** **" | .Page.RenderString -}}

{{- $icon := resources.Get "images/GDEmotes/Icons/Clock.png" -}}
  {{ with $icon }}
    <img src="{{ .RelPermalink }}" class="emote">
  {{ end }}

{{ $speed1 := 200 }} {{ $min1 := div .WordCount $speed1 }}
{{ $speed2 := 150 }} {{ $min2 := div .WordCount $speed2 | math.Max (add $min1 1) }}
{{ $meanMinutes := div (add $min1 $min2) 2 }}

{{ $label := "" }}

{{ if lt $meanMinutes 4 }}
  {{ $label = "Tiny" }}
{{ else if lt $meanMinutes  10 }}
  {{ $label = "Short" }}
{{ else if lt $meanMinutes 20 }}
  {{ $label = "Medium" }}
{{ else if lt $meanMinutes 40 }}
  {{ $label = "Long" }}
{{ else }}
  {{ $label = "XL" }}
{{ end }}

<strong>{{ $label }}</strong> ({{ $min1 }}-{{ $min2 }} minutes)